.abcalendar {
	background-color: #eee;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.abcalendar * {
	margin: 0;
	padding: 0;
}

.abcalendar .header {
	background-color: #c65806;
	background-image: -webkit-linear-gradient(#c97000, #903000);
	color: white;
	font-family: Segoe UI, Sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}

.abcalendar .days span {
	color: #666;
	display: inline-block;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	width: 26px;
}

.abcalendar .days {
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}

/*.abcalendar .days::after {
	background-image: url('triangle.png');
	background-repeat: repeat-x;
	content: '';
	display: block;
	height: 9px;
	position: absolute;
	left: 0;
	top: 17px;
	width: 100%;
}*/

.abcalendar .year {
	width: 5em;
}

.abcalendar table {
	border-collapse: collapse;
}

.abcalendar td {
	border: 1px solid #ccc;
}

.abcalendar .date {
	color: #666;
	display: block;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	width: 25px;
}

.abcalendar td.selected {
	background-color: rgba(255, 128, 0, 0.5);
	border: 1px solid #f30;
}