.abcalendar {
	background-color: #eee;
	display: inline-block;
	*float: left;
	margin: 0;
	padding: 0;
}

.abcalendar * {
	margin: 0;
	padding: 0;
}

.abcalendar .days {
	background-color: white;
	position: relative;
}

.abcalendar .header {
	background-color: #c65806;
	background-image: -webkit-linear-gradient(#c97000, #903000);
	background-image:    -moz-linear-gradient(#c97000, #903000);
	background-image:     -ms-linear-gradient(#c97000, #903000);
	background-image:      -o-linear-gradient(#c97000, #903000);
	background-image:         linear-gradient(#c97000, #903000);
	color: white;
	font-family: Segoe UI, Sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}

.abcalendar .days span {
	color: #666;
	display: inline-block;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 17px;
	text-align: center;
	text-transform: uppercase;
	width: 28px;
}

.abcalendar .days .selected {
	color: #e70;
}

.abcalendar .year {
	width: 5em;
}

.abcalendar table {
	border-collapse: collapse;
}

.abcalendar td {
	border: 1px solid #ccc;
}

.abcalendar td:empty {
	background-color: #e0e0e0;
}

.abcalendar .date {
	color: #666;
	display: block;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	width: 27px;
}

.abcalendar .date:hover {
	background-color: #f2e2a6;
}

.abcalendar td.selected {
	background-color: #f6b777;
	border: 1px solid #f30;
}

.abcalendar .selected .date {
	background-color: transparent;
}

.abcalendar .beside-selected {
	border-right: 1px solid #f30;
}

.abcalendar .above-selected {
	border-bottom: 1px solid #f30;
}